@model Account

<h4>@Model.Name</h4>

<ul class="nav nav-tabs">
  <li role="presentation"><a href="@Url.Action("Accounts")">Accounts</a></li>
  <li role="presentation" tab-categories><a href="@Url.Action("Categories", new { id = Model.Id })">Categories</a></li>
  <li role="presentation" tab-budgets><a href="@Url.Action("Budgets", new { id = Model.Id })">Budgets</a></li>
  <li role="presentation" tab-adjustments><a href="@Url.Action("Adjustments", new { id = Model.Id })">Adjustments</a></li>
  <li role="presentation" tab-maps><a href="@Url.Action("Maps", new { id = Model.Id })">Maps</a></li>
  @*<li role="presentation" tab-ledgers><a href="@Url.Action("Ledgers", new { id = Model.Id })">Ledgers</a></li>*@
  <li role="presentation" tab-import><a href="@Url.Action("Import", new { id = Model.Id })">Import</a></li>
  <li role="presentation" tab-analysis><a href="@Url.Action("Analysis", new { id = Model.Id })">Analysis</a></li>
</ul>
